.guess-container {
	display: block;
}


.submit {
	background-color: pink;
	font-size: 20px;
	display: inline-block;
	padding: 5px;
	border: 2px outset gold;

	&:hover {
		background-color: purple;
	}
}

#new-whirl {
	font-size: 30px;

}

.gamescreen {
	display: flex;
	margin-bottom: 20px;
}

.card {
	display: inline-flex;
	margin-left: 10px;
	margin-bottom: 15px;
	font-size: 40px;
	width: 50px;
	border: 5px outset purple;

	.lettercard {
		margin: 0 auto;
	}

	.letter-hidden {
		visibility: hidden;
	}

	.letter-visible {
		visibility: visible;
	}

	.whitespace {
	 	display: inline-flex;
		margin-left: 20px;
		font-size: 40px;
		width: 50px;
		display: none;
		
	}

}

.gold-container {
	border: 2px solid gold;
	background-color: #f2e5ae;
	display: inline-block;
	font-size: 20px;
	padding: 5px;
}
