@import 'gamescreen';

body {
	font-family: Verdana;

}


#how-to {
	display: inline-block;
	background-color: aliceblue;
	padding: 20px;
}


.hint {
	background-color: aliceblue;
	font-size: 24px;
	display: inline-block;
	padding: 5px;
	
	&:hover {
		background-color: purple;
	}

}


